$red: #b82318;
$darkRed: #7a1710;
$lightRed: #be473f;

$bg: #0e1117;
$lightBg: #151a24;
$whiteBg: rgba(255, 255, 255, 0.5);
$gradientBg: linear-gradient(
  180deg,
  rgba(184, 35, 24, 1) 10%,
  rgba(0, 0, 0, 0) 80%
);

$blackScrollBar: rgba(90, 90, 90, 0.5);
