#mainDiv {
  width: 100%;
  height: 100vh;

  box-sizing: border-box;
  padding-top: 50px;

  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;

  background: $gradientBg;

  overflow: hidden;
}

// top and playlist
#top,
#playlist {
  margin-top: 80px;
}

//// top tracks
#top {
  width: 400px;
  height: 70%;

  box-sizing: border-box;

  background-color: $lightBg;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  margin-bottom: 20px;
  padding: 30px;
  padding-top: 20px;

  border-radius: 5px;

  #desc {
    font-size: $middleFont;
    margin-top: 10px;
    letter-spacing: 0.8px;
  }

  #descSecond {
    font-size: $middleFont;
    margin-top: -5px;
    letter-spacing: 0.8px;
  }

  #descLast {
    font-size: $middleFont;
    margin-top: -5px;
    margin-bottom: 30px;
    letter-spacing: 0.8px;
  }

  #trackListDiv {
    width: 380px;
    height: 70%;

    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;

    &:hover {
      overflow-y: visible;
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      margin-bottom: 20px;
      margin-top: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $whiteBg;
      border-radius: 30px;
    }
  }

  p:first-child {
    margin-top: 10px;
    font-size: $titleFont;
    font-weight: 500;
  }
}

//// top track list
#trackList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 90%;

  // li style
  li {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;
    padding-left: 30px;

    #rank {
      width: 20px;
      height: 20px;
      font-size: $middleFont;
      font-weight: 600;
      padding-top: 5px;

      text-align: center;
    }

    img {
      width: 53px;
      height: 53px;
      margin: 0 15px;
    }

    #textDiv {
      display: flex;
      flex-direction: column;

      #title {
        font-size: $basicFont;
        font-weight: 500;

        margin-bottom: 10px;
      }

      a:last-child {
        font-size: $smallFont;
      }
    }
  }
}

#playlist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  box-sizing: border-box;
  border-radius: 5px;

  width: 380px;
  height: 70%;
  padding: 30px;

  background-color: $whiteBg;
  color: $bg;
}

#playlistBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  box-sizing: border-box;

  #musicImg {
    width: 240px;
    height: 240px;

    border-radius: 5px;

    background-color: $bg;
  }

  #musicTitle {
    font-size: $bigBasicFont;
    margin-top: -7px;
  }

  #musicArtist {
    font-size: $middleFont;
    margin-top: -15px;
  }

  #slider {
    width: 280px;
    height: 6px;
    background: #151518;
    border-radius: 10px;
    margin-top: -7px;
    div {
      width: 2px;
      height: 6px;

      background: $red;
      border-radius: 10px;
    }
  }
  #timeDiv {
    display: flex;

    #starttime {
      width: 50px;
      height: 15px;
      color: #494b4e;
      line-height: 0;
      font-size: 7pt;
      margin-top: -9px;
      margin-left: 27px;
    }
    #endtime {
      width: 50px;
      height: 15px;
      color: #494b4e;
      line-height: 0;
      font-size: 7pt;
      margin-top: -9px;
      margin-left: 213px;
    }
  }
}

#musicBtnDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;

  box-sizing: border-box;
  margin-top: -27px;

  img {
    width: 30px;
    height: 30px;

    cursor: pointer;
  }

  #prev,
  #next {
    width: 35px;
    height: 35px;
  }

  #play,
  #pause {
    width: 28px;
    height: 28px;
  }

  #mute {
    width: 23px;
    height: 23px;
  }

  .hidden {
    display: none;
  }
}

#musiclistDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100px;
  gap: 10px;

  box-sizing: border-box;

  #musiclistUl {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    width: 100%;
    height: 70px;

    padding: 0 20px 20px 20px;
    margin-top: -5px;

    li {
      margin-bottom: 10px;

      cursor: pointer;
    }

    #songTitle {
      font-size: $basicFont;
      margin-bottom: 5px;
    }

    #songArtist {
      font-size: $smallFont;
    }

    overflow: auto;
    overflow-y: hidden;
    overflow-y: hidden;

    &:hover {
      overflow-y: visible;
      cursor: pointer;
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      margin-bottom: 20px;
      margin-top: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blackScrollBar;
      border-radius: 30px;
    }
  }
}
