//// footer

footer {
  width: 100%;
  height: 120px;
  padding-left: 50px;

  display: flex;
  align-items: center;
  justify-items: flex-start;

  position: absolute;
  bottom: 0;

  font-size: 15px;
}

#footerText {
  font-size: 15px;
}
