extends base

block content
    div(id="mainDiv")
        div(id="topTracks")
            p Top Track 
            p(id="desc") This is Top 50 Track list !
            ul(id="trackList") 
        div(id="popList")
            p POP Track List

