extends base

block content
  div(id="myPlaylistDiv")
    div(id="wholeDiv")
      div(id="playerControlDiv")
        div(id="playerControlButtonDiv")
      div(id="playerlistDiv")
        div(id="listLayerDiv")
        ol(id="playlistol")


  script(src="/static/js/myplaylist.js") 
  block scripts