extends base

block content
  div(id="popDiv")
    
    div(id="popStarInfoDiv")
      div(id="starImageAndAlbum")
        p(id="headingTitle") Top 3 Stars Profile
        div(id="starInfoDiv") 
          img(id="starImage" src="#" alt="starImage")
          p(id="starName") Star Name
        div(id="similarStarDiv")
          ul(id="starUl")
      div(id="starDescDiv")
        div(id="tagDiv")
          p(id="tagTitle") Tags
          ul(id="tagUl")
        div(id="starTextDiv")
          p(id="starDescTitle") Biography
          p(id="starDesc") star description




  script(src="/static/js/popstar.js") 
  block scripts