extends base

block content
  div(id="registerDiv")

    div(id="registerFormDiv")
      h1 Register
      form(id="registerForm")
        label(for="email") Email
        input(id="email" type="email" autocomplete="off" require name="email" placeholder="Write your email.")
        label(for="password") Password 
        input(id="password" type="password" autocomplete="off" require name="password" placeholder="4 ~ 8 digit will be needed.")
        label(for="nickname") Nickname 
        input(id="nickname" type="text" autocomplete="off" require name="nickname" placeholder="Write your nickname.")
        div(id="btnDiv")
          input(id="submitBtn" type="button" value="Submit")

  script(src="/static/js/register.js") 
  block scripts