header
    div(id="headerDiv") 
        h1(id="homeTitle") Tomato
        div(id="navDiv")
            span Top Track
            span POP 
            span K-POP
            button(id="loginBtn") 
                a.link(href="/register") Register

    script(src="/static/js/header.js") 
    block scripts
