header
    div(id="headerDiv") 
        h1(id="homeTitle") Tomato
        div(id="navDiv")
            span(id="topTracks") Top Tracks
            span(id="pop") POP 
            span(id="kPop") K-POP
            button(id="loginBtn") 
                a.link(href="/register") Login

    script(src="/static/js/header.js") 
    block scripts
