header
    div(id="headerDiv") 
        h1 Tomato
        div(id="navDiv")
            span Top Track
            span POP 
            span K-POP
            button(id="loginBtn") 
                a.link(href="/login") login
        
