header
    div(id="headerDiv") 
        h1 Tomato
        div(id="navDiv")
            span Top Track
            span POP 
            span K-POP
            button(id="registerBtn") 
                a.link(href="/register") register
        
